[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-grpc = "*"

[packages]
py2neo = "*"
pnlp = "*"
grpcio = "*"
grpcio-tools = "*"
dacite = "*"
protobuf-to-dict = {editable = true,git = "ssh://git@github.com/wearefair/protobuf-to-dict"}

[requires]
python_version = "3.7"
