-e git+ssh://git@github.com/wearefair/protobuf-to-dict@5abd432946ffdddad9d0d5ef763a020eca226b46#egg=protobuf-to-dict
addict
boto3
boto
botocore
certifi
chardet
click
colorama
dacite
docutils
grpcio-tools
grpcio
idna
jmespath
neobolt
neotime
pnlp
prompt-toolkit
protobuf
py2neo
pygments
python-dateutil
pytz
pyyaml
requests
s3transfer
six
smart-open
urllib3
wcwidth
